.container {
    min-height: 100vh;
    width: 100vw;
}

.centerItems{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
}

.active{
    color: rgb(160, 0, 160);
}

.noActive, .active{
    font-weight: 500;
}

